<%if !@fehler%>
  <%if params[:id]=="all"%>
    <%style="display:none;"%>
  <%end%>
	<form method="post" listid="<%=params[:id]%>" id="new_task" class="new_task" action="/lists/<%=params[:id]%>/tasks.json" accept-charset="UTF-8" style="<%=style%>"><div style="margin:0;padding:0;display:inline"><input type="hidden" value="✓" name="utf8"><input type="hidden" value="yghteQphs/MgwSE4StOB+OO0HuNJFG+Q/wVrULlIU60=" name="authenticity_token"></div>
	  <input type="text" size="30" placeholder="Add task to All Lists" name="task[name]" id="task_name" class="new-task"\>
    <input type="text" size="25" placeholder="due-Date" name="task[due]" id="task_due" class="new-task" style="display:none"\>
    <input type="submit" id='btn_new_task' style="display:none" value=" Absenden ">
	</form>

  <div class="sort-list">
    <% sorttype="sort.normal" %>
    <span><%= t(sorttype) %></span>
    <ul id="sortpopup">
      <li class="sort-list-entry"><a href="#" val="sort.normal">Normal</a></li>
      <li class="sort-list-entry"><a href="#" val="sort.priority">Priority</a></li>
      <li class="sort-list-entry"><a href="#" val="sort.date">Date</a></li>
    </ul>
  </div>
  <div id="lists_box">
    <%=render partial: 'tasklist' , locals: { tasks: @tasks, name: "undone" }%>
    <h3><%= t('tasks.completed') %></h3>
    <%=render partial: 'tasklist' , locals: { tasks: @done_tasks, name: "done" }%>
  </div>
  <ul id="priopopup" style="display:none">
    <li class="prio-2 task-priority"><a href="#" val="2">+2</a></li>
    <li class="prio-1 task-priority"><a href="#" val="1">+1</a></li>
    <li class="prio-0 task-priority"><a href="#" val="0">&plusmn;0</a></li>
    <li class="prio--1 task-priority"><a href="#" val="-1">&minus;1</a></li>
    <li class="prio--2 task-priority"><a href="#" val="-2">&minus;2</a></li>
  </ul>
<%else%>
  <%=render :text=>"Ungültiger Parameter"%>
<%end%>
