<h1>Hello <%= @user.name %></h1>

<h3>Download config file</h3>
<p><a href="<%= url_for(controller: "staticPages", action:"taskdconfig", key: @user.authentication_token, dl: true) %>">Download your taskd-config</a></p>

<h3>Setup Mirakel</h3>

<p>Open Mirakel → Config → switch sync on → Taskwarrior-sync → scan QR-Code</p>

<table>
 <% @qr.modules.each_index do |x| -%>
   <tr>
   <% @qr.modules.each_index do |y| -%>
    <% if @qr.dark?(x,y) -%>
    <td class="black"/>
    <% else -%>
    <td class="white"/>
    <% end -%>
   <% end -%>
   </tr>
 <% end -%>
</table>

<h3>Setup taskwarrior</h3>

<pre>
$ task config taskd.server <%= @tw[:server] %>
$ task config taskd.credentials <%= @tw[:credentials] %>
$ echo "<%= @tw[:cert] %>" &gt; ~/.task/client.pem
$ task config taskd.certificate ~/.task/client.pem
$ echo "<%= @tw[:ca] %>" &gt; ~/.task/ca.pem
task config taskd.ca ~/.task/ca.pem
$ echo "<%= @tw[:key] %>" &gt; ~/.task/client.key.pem
$ task config taskd.key ~/.task/client.key.pem
$ task sync
</pre>

<style type="text/css">
 table {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
 }
 td {
   border-width: 0;
   border-style: none;
   border-color: #0000ff;
   border-collapse: collapse;
   padding: 0;
   margin: 0;
   width: 10px;
   height: 10px;
 }
 td.black { background-color: #000; }
 td.white { background-color: #fff; }
</style>
