<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Content:</b>
  <%= @task.content %>
</p>

<p>
  <b>Done:</b>
  <%= @task.done %>
</p>

<p>
  <b>Due:</b>
  <%= @task.due %>
</p>

<p>
  <b>List:</b>
  <%= @task.list_id %>
</p>


<%= link_to 'Edit', edit_list_task_path(@list,@task) %> |
<%= link_to 'Back', list_path(@list) %>
