<aside id="sidebar">
<h1 id="title"><%= link_to t('misc.appname'), root_path, id: "logo" %></h1>


<nav id="user-config">
<li><%= t 'users.hello', name: current_user.username %></li>
<li><%= link_to t('users.profile'), edit_user_registration_path%></li>
<li><%= link_to t('users.sign_out'), destroy_user_session_path, :method => :delete%></li>
</ul>
</li>
</nav>
<nav id="lists">
<%shown_all=false%>
<%= render_tree all_lists do |list, child| %>
	<%if !shown_all%>
		<%	task_count=0
				shown_all=true
				render_tree all_lists do |list|
					task_count+=list.tasks.count
				end	%>
		<li id="all_lists">
			<%=link_to list_path("all") do%>
		  	<span class="name">All Lists</span>
		  	<!--<span class="delete">x</span>-->
		  	<span class="count"><%=task_count %></span>
			<% end %>
		</li>
	<%end%>
  <li <%= 'class=selected' if !@list.nil? && list.id==@list.id %> id="list_<%=list.id.to_s%>">
  <%=link_to list_path(list), listid: list.id do%>
    <span class="name"><%= list.name %></span>
    <!--<span class="delete">x</span>-->
    <span class="count"><%= list.tasks.count %></span>
  <% end %>
  <%=child%>
  </li>
<% end %>

</nav>
<%= link_to t('lists.delete'), list_path(@list), method: 'delete', id: 'delete-list', data: { confirm: t('lists.really_delete', name: @list.name)} unless @list.nil? %>
<%= link_to t('lists.create'), new_list_path, id: 'new-list'%>
</aside>
